<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Book Management</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style_a.css') }}">
</head>
<body>
    <div class="nav">
        <div style="float: left;">
            <h1>Manage Books</h1>
        </div>
        <div style="float: right;">
            <button onclick="location.href='{{url_for('logout')}}'">Logout</button>
        </div>
        <div style="clear: both;"></div>
    </div>
<h2>Add Book</h2>
    <form id="addbookForm" onsubmit="submitForm(); return false;">
        <input type="hidden" id="bookId" name="id">
        <input type="number" id="publishing_year" name="publishing_year" placeholder="Publishing Year" required>
        <input type="text" id="title" name="title" placeholder="Title" required>
        <input type="text" id="author" name="author" placeholder="Author" required>
        <input type="text" id="language_code" name="language_code" placeholder="Language Code">
        <input type="number" id="author_rating" name="author_rating" placeholder="Author Rating">
        <input type="number" step="0.01" id="book_average_rating" name="book_average_rating" placeholder="Average Rating">
        <input type="number" id="book_ratings_count" name="book_ratings_count" placeholder="Ratings Count">
        <input type="text" id="genre" name="genre" placeholder="Genre" required>
        <input type="number" step="0.01" id="gross_sales" name="gross_sales" placeholder="Gross Sales">
        <input type="number" step="0.01" id="publisher_revenue" name="publisher_revenue" placeholder="Publisher Revenue">
        <input type="number" step="0.01" id="sale_price" name="sale_price" placeholder="Sale Price">
        <input type="number" id="sales_rank" name="sales_rank" placeholder="Sales Rank">
        <input type="text" id="publisher" name="publisher" placeholder="Publisher">
        <input type="number" id="units_sold" name="units_sold" placeholder="Units Sold">
        <button type="submit">Save Book</button>
    </form>

    <!-- Edit Book Modal -->
    <div id="editBookModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Edit Book</h2>
            <form id="editBookForm">
            <input type="hidden" id="editBookId" name="id">
            <input type="number" id="publishing_year" name="publishing_year" placeholder="Publishing Year" required>
            <input type="text" id="edittitle" name="title" placeholder="Title" required>
            <input type="text" id="author" name="author" placeholder="Author" required>
            <input type="text" id="language_code" name="language_code" placeholder="Language Code">
            <input type="text" id="author_rating" name="author_rating" placeholder="Author Rating">
            <input type="number" step="0.01" id="book_average_rating" name="book_average_rating" placeholder="Average Rating">
            <input type="number" id="book_ratings_count" name="book_ratings_count" placeholder="Ratings Count">
            <input type="text" id="genre" name="genre" placeholder="Genre" required>
            <input type="number" step="0.01" id="gross_sales" name="gross_sales" placeholder="Gross Sales">
            <input type="number" step="0.01" id="publisher_revenue" name="publisher_revenue" placeholder="Publisher Revenue">
            <input type="number" step="0.01" id="sale_price" name="sale_price" placeholder="Sale Price">
            <input type="number" id="sales_rank" name="sales_rank" placeholder="Sales Rank">
            <input type="text" id="publisher" name="publisher" placeholder="Publisher">
            <input type="number" id="units_sold" name="units_sold" placeholder="Units Sold">
            <button type="button" onclick="submitEditForm()">Save Changes</button>
                <button type="button" onclick="closeModal()">Cancel</button>
            </form>
        </div>
    </div>
    


    <h2>Books</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Publishing Year</th>
        <th>Language Code</th>
        <th>Author Rating</th>
        <th>Average Rating</th>
        <th>Ratings Count</th>
        <th>Gross Sales</th>
        <th>Publisher Revenue</th>
        <th>Sale Price</th>
        <th>Sales Rank</th>
        <th>Publisher</th>
        <th>Units Sold</th>
        <th>Actions</th>
    </tr>
    {% for book in books %}
    <tr id="book-{{ book.id }}">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.publishing_year }}</td>
        <td>{{ book.language_code }}</td>
        <td>{{ book.author_rating }}</td>
        <td>{{ book.book_average_rating }}</td>
        <td>{{ book.book_ratings_count }}</td>
        <td>{{ book.gross_sales }}</td>
        <td>{{ book.publisher_revenue }}</td>
        <td>{{ book.sale_price }}</td>
        <td>{{ book.sales_rank }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.units_sold }}</td>
        <td>
            <button class="edit-btn" onclick="showEditBookModal('{{ book.id }}')">Edit</button>
            <button class="delete-btn" onclick="deleteBook('{{ book.id }}')">Delete</button>
        </td>
    </tr>
    {% endfor %}

    
</table>


<script>
function submitForm() {
    var bookId = $('#bookId').val();
    var method = 'POST';
    var url = '/books';  // Always use this URL for POST

    $.ajax({
        url: url,
        type: method,
        contentType: 'application/json',
        data: JSON.stringify(getFormData($('#addbookForm'))),
        success: function(result) {
            window.location.reload();  // Reloads the page to show the new book in the list
        },
        error: function(xhr) {
            alert('Error: ' + xhr.status + ' ' + xhr.statusText);
        }
    });
}

function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
        indexed_array[n['name']] = n['value'];
    });

    return indexed_array;
}


    function submitEditForm() {
        var bookId = $('#editBookId').val();
        var method = 'PUT';
        var url = '/admin/db-management/' + bookId;
        $.ajax({
            url: url,
            type: method,
            contentType: 'application/json',
            data: JSON.stringify(getFormData($('#editBookForm'))),
            success: function(result) {
                window.location.reload();
            },
            error: function(xhr) {
                alert('Error: ' + xhr.status + ' ' + xhr.statusText);
            }
        });
    }

    function deleteBook(bookId) {
        var url = '/admin/db-management/' + bookId;
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function(result) {
                $('#book-' + bookId).remove();
            },
            error: function(xhr) {
                alert('Error: ' + xhr.status + ' ' + xhr.statusText);
            }
        });
    }

    function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }

    function showEditBookModal(bookId) {
            var row = $('#book-' + bookId);
            $('#editBookId').val(bookId);
            $('#editBookForm #publishing_year').val(row.find('td:eq(3)').text());
            $('#editBookForm #title').val(row.find('td:eq(0)').text());
            $('#editBookForm #author').val(row.find('td:eq(1)').text());
            $('#editBookForm #language_code').val(row.find('td:eq(4)').text());
            $('#editBookForm #author_rating').val(row.find('td:eq(5)').text());
            $('#editBookForm #book_average_rating').val(row.find('td:eq(6)').text());
            $('#editBookForm #book_ratings_count').val(row.find('td:eq(7)').text());
            $('#editBookForm #genre').val(row.find('td:eq(2)').text());
            $('#editBookForm #gross_sales').val(row.find('td:eq(8)').text());
            $('#editBookForm #publisher_revenue').val(row.find('td:eq(9)').text());
            $('#editBookForm #sale_price').val(row.find('td:eq(10)').text());
            $('#editBookForm #sales_rank').val(row.find('td:eq(11)').text());
            $('#editBookForm #publisher').val(row.find('td:eq(12)').text());
            $('#editBookForm #units_sold').val(row.find('td:eq(13)').text());

            document.getElementById('editBookModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('editBookModal').style.display = 'none';
        }
</script>

</body>
</html>